.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #eaebed;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 16px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 30%;
}

.heading {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}

.description {
  color: #333333;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}

.button {
  background-color: #0b69ff;
  border-radius: 10px;
  border-style: none;
  color: #e4ebf3;
}

.number {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}
